.root {
  display: flex;
  border: 1px solid #f3f3f3;
  width: 25vw;
  font-size: 1vw;
  border-radius: 40px;
  margin-bottom: 20px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

  @media (max-width: 1350px) {
    width: 40vw;
    font-size: 1.3vw;
  }

  @media (max-width: 850px) {
    font-size: 2vw;
  }

  @media (max-width: 580px) {
    width: 80vw;
    font-size: 4vw;
  }

  &:hover {
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.06);
    transform: translateY(-5px);
  }

  &__image {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 3vw 3vw;
    width: 25%;
    padding: 20px;

    @media (max-width: 850px) {
      grid-template-columns: 5vw 5vw;
    }

    @media (max-width: 580px) {
      grid-template-columns: 9vw 9vw;
    }

    div {
      width: 3vw;
      height: 3vw;

      @media (max-width: 850px) {
        width: 5vw;
        height: 5vw;
      }

      @media (max-width: 580px) {
        width: 9vw;
        height: 9vw;
      }

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vw;
    width: 75%;
    padding: 20px;
    border-left: 1px solid #f3f3f3;

    div {
      display: flex;
      justify-content: space-between;
    }
  }
}
