.root {
  display: flex;
  align-items: center;
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 20px;

  &__logo {
    height: 80px;
    width: 140px;
    background-size: contain;
    background-position: 0 1px;
    background-repeat: no-repeat;
    margin-right: 20px;

    @media (max-width: 310px) {
    }
  }

  &__body {
    display: flex;
    flex-direction: column;

    @media (max-width: 385px) {
      font-size: 14px;
    }

    @media (max-width: 310px) {
      font-size: 10px;
    }
  }

  &__bttn_remove {
    cursor: pointer;
    display: grid;
    width: 48px;
    height: 32px;
    border: 1px solid #f3f3f3;
    border-radius: 8px;
    justify-items: center;
    align-items: center;
    transition: all 0.5s;

    &:hover {
      border: 1px solid #dbdbdb;
    }

    img {
      transform: rotate(45deg);
    }
  }
}
